<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<!--parte blanca-->
<nav id="headerblanco">
    <div class="nav-wrapper" id="headerblanco">
      <a href="http://localhost:4200" class="brand-logo center"><img id="logo"src="../../../assets/logo.jpeg" alt="no sale"></a>
          
        <!--paginas-->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://localhost:4200/cart"class="icons"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAR5JREFUSEvN1cExBUEUheHvRYAMiAARIAIywJYFIkAEbNgiAmRABIgAESAC6qqeV2PevOmuGqOczSz6zv379JnbMzKwRgP396eAz+TmHZc4+A13dQcVoOq7hru+kLYj2scJbrExBGAWb6nxAl76QKaFHBls9mj8iOV4fxpgCQ89AK+Y7wLEWuxiEdvpqyrhVc6PcZQDbOEigb7tZhTZPSOe4+xygxYzMZPOMxx1qdrQPVarwhzgFHu4QjToUszMSvNIc4AIKmyH5hCO2lTVfaRwx3U5QDS7wXq6OsJRmyLQwzanJYCY5utcwml94nopAdQ/2S7OE2J+fqgUUGhgsqwUcIYdnGO30aZrrfiHU7/Km5vqWisGDO5g8Az+L+ALYZk0GaU3ojwAAAAASUVORK5CYII="/></a></li>
        <li><a href="http://localhost:4200/usuario"class="icons"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAf5JREFUSEu1ldtRG1EQRI8iwI7AOAJwBJgIgAwgAiACmwiACCADIAJwBNgRGGdgR2DqqG5vja5Wi/jQVOlDuzPTPT2PnbFhm204P+sAfAX2gN32k9PP9nsCfkyRnALYBm4AAaZMkBPgZcxpFcAZ8A34APwBbgETyVyzGoGPgU/AX+A7cN2DjAGY/LI5GmCgCcZMAr4/bS/Pgavq2AMoy3NjfgTcN2efCxq5rMZkkeUQuGtEvlS5egADbajMrUSroJWcVdVkMrcSc+zHsQKEhZqrcWSxioMGmvIFN9kDYJymXPbInggg0MKYqqWNvWi6hoRAW8DnUrpV/W4kPpaylnLUCiLPgN4CpwD+NebBiApDZRUgiWRUpyYSKU/GUHmUqUqUflmZzbfiBYn+Nxo9gHKorTJVk729qgsW6YbctQKT7NQGlWwGWkEdUyvotzcSeT7mvhUgUvRN1k+mggukmfhX2exwSZNHexB0g51v+2DiumCdSvNRzB1yTF1SSQxL2i+ayZ3jnAgbZqAmq3qL3A1NIjY0J8M9SqVL51rdHlug7PzfL16qqIsVX98tjPnYscvKJ1G/F1WmyJpnS/1bda49w34L0lBBlShTowRK5CRFDnvhWV+wqQ+O8qirx2/KHEn95rfnPQDxFUgpxj6ZjvZo4gSv801+o4Dp1xsHeAUVx38ZYm993QAAAABJRU5ErkJggg=="/></a></li>  
        </ul>
    </div>
</nav>

<!--parte gris-->
<nav id="nav">
    <div class="nav-wrapper" id="headergris">
 
        <!--buscador-->
       

        <!--paginas-->
        <div>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="a"href="http://localhost:4200/estilos">Estilos</a></li>
            <li><a class="a"href="#nosotros">Sobre Nosotros</a></li>
            <li><a class="a"href="#con">Contacto</a></li>   
            </ul>
        </div>
    </div>
  </nav>

  
<!--siguiendo a la profe-->
