#icono{
    height: 25vw;
  
}
img{
    animation: mo 2.5s linear infinite;
}
@keyframes mo{
    0%{bottom: 0;
        opacity:.45;
    }
    50%{
        transform: translatey(10px);
        opacity:.70;
    }
    100%{bottom: 100vh;
        opacity:.45;
    }
}
/*----------------------------------------------------------FONDO----------------------------------------------------------*/
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin:auto;
}
.bg_animate{
    height: 43vw;
    width: 100%;
    margin-bottom: 113px;
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
     align-items: center; 
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
}
.banner_title h2{
    color: #fff;
    font-weight: 800;
    margin-bottom:46px;
    font-family: 'Saira', bold;
    font-size: 10vw;
    letter-spacing: 0.25em;
  word-spacing: 0.25em;
  animation: mov 2.5s linear infinite;
  
}
.banner_title .llamanos{
        color:#fff;
        font-size: 2vw;
        text-decoration: none;
        display: inline-block;
        background: #1A2849;
        padding: 12px 38px;
        letter-spacing: 0.25em;
        word-spacing: 0.25em;
        border-radius: 15px;  
}
.llamanos{
    background:white;
    color:#1A2849;
}
/*-----------------------------TEXTO ANIMADO-----------------------------*/
@keyframes movimiento {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30);
    }
    100%{
        transform: translateY(0);
    }
}
/*-----------------------------BURBUJAS-----------------------------*/
.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    left: 5%;

    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){

    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){

    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){

    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(4){

    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}
.burbuja:nth-child(5){

    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(6){

    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(7){

    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(8){

    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}
.burbuja:nth-child(9){

    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(10){

    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}
@keyframes burbujas{
    0%{bottom: 0;
        opacity:0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity:.44;
    }
    100%{bottom: 100vh;
        opacity:0;
    }
}

/*----------------------------------------------------------FORMS----------------------------------------------------------*/
*{
    margin: 0;
    box-sizing: border-box;
}
.main{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.472), rgba(255, 255, 255, 0.365));
    overflow: hidden;
    padding: .7em;
    border-radius: 1em;

    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: .6em;

    animation: mostrar 1.5s ease-in-out;
}
.main__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .7em;
    text-align: center;
}

.main__form{
    display: grid;
    justify-items: center;
    gap: 1.5em;
}

.main__input{
    width: 10%;
    max-width: 500px;
    outline: none;
    border: none;
    padding: 1em;
    font: inherit;
    border-radius: .6em;
}

.main__input--send{
    background-color: #3D5BCA;
    color: #fff;
    font-weight: 600;
    font-family: 'Saira';
}

.main__title{
    font-size: 9vh;
    font-family: 'Saira';
    font-weight: 900;
    color: #3D5BCA;
}

.main__paragraph{
    margin: .3em 0;
    font-family: 'Saira';
}


.main__social{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-auto-columns: max-content;
    gap: 1em;
}

.main__link{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: .6em 1.5em;
}

.main__link:hover{
    background-color: #fff;
}

.main__icon{
    width: 30px;
    height: 30px;
}