 <!-- Navbar goes here -->
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<!--Banner-->
<div class="col s12 m12 l12">
    <body>
        <header class="bg_animate">
            <div>
                <section class="banner-contenedor">
                    <section align="center"class="banner_title">
                        <h2>ART<br>EVERYWHERE</h2>
                        <a href="http://localhost:4200/#estils" class="llamanos">VER ESTILOS</a>
                     </section>
                        <div class="burbujas">
                            <div class="burbuja"></div>
                            <div class="burbuja"></div>
                            <div class="burbuja"></div>
                            <div class="burbuja"></div>
                            <div class="burbuja"></div>
                            <div class="burbuja"></div>
                            <div class="burbuja"></div>
                            <div class="burbuja"></div>
                            <div class="burbuja"></div>
                            <div class="burbuja"></div>
                        </div>
                </section>
            </div>
        </header>
    </body>
</div>



<!--Nosotros-->
<div class="row">
<!--TEXT -->
        <div id="nosotros"class="col s12 m12 l8 "> <!-- Note that "m4 l3" was added -->
            <h1 align="center" id="about-t">SOBRE NOSOTROS</h1>
            <p id="about">Somos una empresa en línea dedicada a promover el arte digital y tradicional local, nacional e internacionalmente. El arte es el que mueve corazones y se debe de dar el aprecio necesario, sin importar que tan conocido sea el artista detrás de cada pieza.</p>
        </div>
 <!--IMAGEN -->
        <div class="col s12 m12 l6" id="imagencita" align="center">
            <img src="assets/jje.jpg" alt="">
        </div>
</div>


      <!--Estilos-->
<div id="estils"class="estils" align="center">
        <h2 id="estilos">EXPLORA TODOS<br>LOS ESTILOS</h2>
        <div class="row">
            <div align="center"id="tarjetitas"class="col s12 m12 l2">
                <div class="card">
                    <a class="card"href="http://localhost:4200/estilos/#digital"><img src="assets/Digital-3.jpg" alt="..."></a>    
            </div>
            </div><!--Primera-->
            <div align="center"id="tarjetitas"class="col s12 m12 l2">
                <div class="card">
                    <a class="card"href="http://localhost:4200/estilos/#cartoon"><img src="assets/Cartoon-2.jpg" alt="..."></a>    
            </div>
            </div><!--Segunda-->
            <div align="center"id="tarjetitas"class="col s12 m12 l2">
                <div class="card">
                    <a class="card"href="http://localhost:4200/estilos/#tradicional"><img src="assets/Tradicional-3.jpg" alt="..."></a>    
            </div>
            </div><!--Tercera-->
            <div align="center"id="tarjetitas"class="col s12 m12 l2">
                <div class="card">
                    <a class="card"href="http://localhost:4200/estilos/#tatuaje"><img src="assets/Tatuaje-1.jpg" alt="..."></a>    
            </div>
            </div><!--Cuarta-->
        </div>

    <div class="row">
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <a class="card"href="http://localhost:4200/estilos/#foto"><img src="assets/Foto-3.jpg" alt="..."></a>    
        </div>
        </div><!--Primera-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <a class="card"href="http://localhost:4200/estilos/#graffiti"><img src="assets/Graffiti-2.jpg" alt="..."></a>    
        </div>
        </div><!--Segunda-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <a class="card"href="http://localhost:4200/estilos/#caligrafia"><img src="assets/Caligrafia-3.jpg" alt="..."></a>    
        </div>
        </div><!--Tercera-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <a class="card"href="http://localhost:4200/estilos/#acuarela"><img src="assets/Acuarela-2.jpg" alt="..."></a>    
        </div>
        </div><!--Cuarta-->
    </div>
</div>


<header class="bg_animate">
    <div>
        <section class="banner-contenedor">
            <section align="center"class="banner_title">
              
                

                <div id="con"class="bg_animate" align="center">
                   
                    <div class="row">
                        <div class="col s6 ">
                            <a href="https://www.instagram.com/im_yippo/"><p id="estilo"><img id="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAY5JREFUSEvFlbEyQ1EQhr+/0ShoNBr0BnkBvAFKM2bQmsHkCfAGYqiJMaPkDfAEEi8gapVKuWbj3Exycm9ybzJ3csp7d/f/9989/xElH5Vcn8kAmNkacApsAotDumwBr0BNUiOO7evAzA6A2xGlO5R0153bAxCYv49YPEmrdHcSAzj6fgGAH2A7SHkW8uqSXIX2iQFcz4UMgDrgGs+GuTiRhqSKmTnIU8hrSVrKArCU4k1nKallZnNtVtJ3kNM7ngmgDvzPWuoQjztIA3A288AesAF4zBvwAPwCfTMrAtDW08xugKOou2tJx2b2DGz1bE6BDqrAfWC8HAF8SFo1s3MgGXBhiS6AK+AFWIkAkgGPBZBIVANOIoBLSdVxJfKaFWAK2AXWA4gP+RGYDt31YBcZsif63diJfcbM3Kd89zvrmWdNB10035bEzNwM/XKlnaYk/596k4taRRrAQKtwa/7MYJb3c7bZeYVS7TqhaGbeie+3DzLL/JLwr/Dg+NoOf3Dy6pA3bjJvcl52eeL+AMUKmxkA/+WFAAAAAElFTkSuQmCC"/>@SAO_SHOP</p></a>
                        </div>
                        <div class="col s6 ">
                            <a href="https://www.instagram.com/im_yippo/"><p id="estilo"><img id="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYBJREFUSEu1lWFRxEAMhd9TACgAFAAK4ByAAnAAKAAUAAoAB5wCrg4OBZyEcxDmdZLO3Xbb2e1M9+dON1/ykpcSMx/OHB9ZgJkdAvhx+ILkdmoiPcBO8HMPugYwGbIHSIL/OuAMwGRIClgBuASg4FcO0N1kSAowD3oUuntVAVmRXNT0Iwsg2d0nsjUko7IizpBEaqqyhplJf0nUylY7USngE8AtgEeSbw7YADj2SWqhNScF3AH4ANBpbWYBfSf5UBNc3+bGVBkfADgluTGzEwB/AGS2C93VQHJGi4y/SKoi9UFy3bsfbgJS4vgcIDJW7LbZyajqXsAlgFcAo44f2kXPAJ5cFkm1dYjuVcnuGXX84DY1s3D13prwnggkP6gvo44fA2ijhoMVSNoPjumQ40f/B/7o2/eTZNEAvOQmacjxRT8cM4uehPaqROA1ySazhTvHFwF8VDVdAl27T3J26K2TYkBE82wFUXMF1XrXaQRPd1U1oMbFvVVR+7jk+9kr+AcSTL4ZTekgSAAAAABJRU5ErkJggg=="/>666666666</p></a>
                        </div>
                
                        <div class="row">
                            <div class="col s6 ">
                                <a href="https://www.instagram.com/im_yippo/"> <p id="estilo"><img id="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAWlJREFUSEu1lY1NwzAQhd+bgBGACYAJYASYAJiAdgJgAsoEwASUDTpC2aDdACZ46Co7sh3/BSmWrEiJfd/57vmFmHlw5vhoAiTdAbgEcO6m5bR1c03yq5ZkESDpGsALgJPGKXcAliTXuXVZgKQVgIeJ5VuRXKZ7RoB/BvdxX0kuQkgEcGX5rGS+B7AIyyHpCcBjsOcm/J4CrJ7HBcCvNZmkrRlGBrAjeeoXDACnlrdK9h8kTVGHIenKqcueNsMxnCIEvAO4rQCeSVo5LLgprFbKIZkQYNo+6wSkdU+3bUle2MsQoIYswxO0ACB5iN0E+IUluKSN60W0JAfIKqgD8APgKEngm6RZS3SCbJM7ALnSZptsEqzJdEoP7klawrGbSqpdtF7AnuRgkFOsohdQtgp3iUpO2gOom11gA7mGtwCRlYy8KNW5swM7jTe/EmDksGGs3l+mmdnGK8MZY/SudBGbgIZ9ND/PDvgDFmC1GY5MnWUAAAAASUVORK5CYII="/>SAO_SHOP</p></a>
                            </div>
                            <div class="col s6 ">
                                <a href="https://www.instagram.com/im_yippo/"><p id="estilo"><img id="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAATVJREFUSEvdVdFRwlAQ3K1AOxA70ArEDrADrACsRKgAOsAOxAqghNCBVLDOZu5lYpjgI5mMM9xPZnL3dm/3Li/EwMGB8XFFBJLGAFYARj1tKwC8ktwap7JIkhN3PcHT8YLkfZNAkX0kue9CJOkBwK4EJsvm6woSwXdI/LiERNIkLL79iyDhLki+5ZBIWgCY1WvPKTDoexR7UC8kreokJLnbDQAviKM620rgRHhp8BsABn9uziVqPgGY5GgS10gqrT5L4ILoznN4iu7mJJeRm9dUfgGYJJXZBMmPhr/reD+N55Kkyaq4mCA69oYY3JY5bMmU5MmmdSIIEu94paDtW+lMkLOu0UjekHMBm3X/qsD7nobYVUA6dyBZ3sr1u8hfo4fY90Y9xIb9vq77ttx2/op+mUNZ9AM2b6YZomtp4AAAAABJRU5ErkJggg=="/>SAO@S.COM</p></a>
                            </div>
                    </div></div></div>



                
             </section>
                <div class="burbujas">
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                    <div class="burbuja"></div>
                </div>
        </section>
    </div>
</header>
