/*BANNER*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Saira', sans-serif;
    
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin:auto;
}
.bg_animate{
    height: 43vw;
    width: 100%;
    margin-bottom: 10vh;
    background: linear-gradient(to right, #005C98, #505BDA);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
}
.banner_title h2{
    color: #fff;
    font-weight: 800;
    margin-bottom:46px;
    font-family: 'Saira', bold;
    font-size: 10vw;
    letter-spacing: 0.25em;
  word-spacing: 0.25em;
  animation: mov 2.5s linear infinite;
  
}
.banner_title .llamanos{
        color:#fff;
        font-size: 2vw;
        text-decoration: none;
        display: inline-block;
        background: #1A2849;
        padding: 12px 38px;
        letter-spacing: 0.25em;
        word-spacing: 0.25em;
        border-radius: 15px;  
}

.llamanos{
    background:white;
    color:#1A2849;
}
/*-----------------------------TEXTO ANIMADO-----------------------------*/
@keyframes mov {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30);
    }
    100%{
        transform: translateY(0);
    }
}
/*-----------------------------BURBUJAS-----------------------------*/
.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    left: 5%;

    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){

    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){

    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){

    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(4){

    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}
.burbuja:nth-child(5){

    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(6){

    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(7){

    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(8){

    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}
.burbuja:nth-child(9){

    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(10){

    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}
@keyframes burbujas{
    0%{bottom: 0;
        opacity:0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity:.44;
    }
    100%{bottom: 100vh;
        opacity:0;
    }
}


/*-----------------------------CONTENIDO-----------------------------*/
/*sobre nosotros*/
p{
    font-family: 'Saira', sans-serif;
}
h1{
    font-family: 'Saira', sans-serif;
}
#about-t{
    font-size: 32px;
    letter-spacing: .7em;
  word-spacing: 0.25em;
    
}
#about{
    font-size: 20px;
}
#nosotros{
    width: 50%;
    height: 576px;
    padding-left: 5vh;
    padding-right: 5vh;
    
    
}
#about-t{
    margin-bottom: 52px;
    font-size: 2vw;

    color:#fff;
    background: #1A2849;
    padding: 12px 38px;
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
    border-radius: 15px;  
}
/**/


/*ESTILOS*/
.estils{
    height: 50%;
    width: 100vw;
    
    margin-top: 20vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 90px;
}
#estilos{
    margin-bottom: 52px;
    font-size: 2vw;
    font-family: 'Saira', sans-serif;
    letter-spacing: .7em;
    word-spacing: 0.25em;
    border-radius: 15px;
    color:#fff;
    background: #1A2849;
    padding: 12px 38px;
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
    margin-left: 30px;
}
#estil{
    padding: 63px;
}
/*CONTACTO*/
#estilo{
    margin: 46px;
    font-size: 2vw;
    font-family: 'Saira', sans-serif;
    letter-spacing: .7em;
    word-spacing: 0.25em;

    width: 60%;

    color:#fff;
    background: #006DF8;
    padding: 12px 38px;
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
    border-radius: 50px;  
}
#icono{
    height: 3vw;
    width: 3vw;
}

.card{
    height: 20vh;
    width: 20vh;
}
.card :hover{
    transform: scale(1.15);
    transition :all 300ms;
}
#je{
    margin-top: 20vh;
}