<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<div class="aaa" align="center">
    <h2 id="e">ESTILOS</h2>
    <!--------------------------------------------------Primera-------------------------------------------------->
    <h1 id="estilos">DIGITAL</h1>
    <div id="digital" class="row">
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                    <div class="face front">
                    <img src="assets/Digital-1.jpg" alt="...">
                    </div>
                <div class="face back">
                    <h3>@YIPPO</h3>
                    <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                    <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
                </div>
            </div>
        </div><!--Primera-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Digital-2.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Segunda-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Digital-3.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Tercera-->
    </div>

      <!--------------------------------------------------Segunda-------------------------------------------------->
      <h1 id="estilos">TRADICIONAL</h1>
    <div id="tradicional"class="row">
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                    <div class="face front">
                    <img src="assets/Tradicional-1.jpg" alt="...">
                    </div>
                <div class="face back">
                    <h3>@YIPPO</h3>
                    <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                    <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
                </div>
            </div>
        </div><!--Primera-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Tradicional-2.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Segunda-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Tradicional-3.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Tercera-->
    </div>
      <!--------------------------------------------------Tercera-------------------------------------------------->
      <h1 id="estilos">GRAFFITI</h1>
    <div id="graffiti"class="row">
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                    <div class="face front">
                    <img src="assets/Graffiti-1.jpg" alt="...">
                    </div>
                <div class="face back">
                    <h3>@YIPPO</h3>
                    <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                    <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
                </div>
            </div>
        </div><!--Primera-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Graffiti-2.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Segunda-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Graffiti-3.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Tercera-->
    </div>
      <!--------------------------------------------------Cuarta-------------------------------------------------->
      <h1 id="estilos">ACUARELA</h1>
    <div id="acuarela"class="row">
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                    <div class="face front">
                    <img src="assets/Acuarela-1.jpg" alt="...">
                    </div>
                <div class="face back">
                    <h3>@YIPPO</h3>
                    <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                    <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
                </div>
            </div>
        </div><!--Primera-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Acuarela-2.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Segunda-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Acuarela-3.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Tercera-->
    </div>
      <!--------------------------------------------------Quinta-------------------------------------------------->
      <h1 id="estilos">FOTOGRAFÍA</h1>
    <div id="fotografía"class="row">
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                    <div class="face front">
                    <img src="assets/Foto-1.jpg" alt="...">
                    </div>
                <div class="face back">
                    <h3>@YIPPO</h3>
                    <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                    <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
                </div>
            </div>
        </div><!--Primera-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Foto-2.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Segunda-->
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
            <div class="card">
                <div class="face front">
                <img src="assets/Foto-3.jpg" alt="...">
                </div>
            <div class="face back">
                <h3>@YIPPO</h3>
                <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
            </div>
        </div>
        </div><!--Tercera-->
    </div>
         <!--------------------------------------------------Sexta-------------------------------------------------->
         <h1 id="estilos">CARTOON</h1>
    <div id="cartoon"class="row">
            <div align="center"id="tarjetitas"class="col s12 m12 l2">
                 <div class="card">
                         <div class="face front">
                         <img src="assets/Cartoon-1.jpg" alt="...">
                         </div>
                     <div class="face back">
                         <h3>@YIPPO</h3>
                         <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                         <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
                     </div>
                 </div>
             </div><!--Primera-->
             <div align="center"id="tarjetitas"class="col s12 m12 l2">
                 <div class="card">
                     <div class="face front">
                     <img src="assets/Cartoon-2.jpg" alt="...">
                     </div>
                 <div class="face back">
                     <h3>@YIPPO</h3>
                     <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                     <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
                 </div>
             </div>
             </div><!--Segunda-->
             <div align="center"id="tarjetitas"class="col s12 m12 l2">
                 <div class="card">
                     <div class="face front">
                     <img src="assets/Cartoon-3.jpg" alt="...">
                     </div>
                 <div class="face back">
                     <h3>@YIPPO</h3>
                     <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                     <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
                 </div>
             </div>
             </div><!--Tercera-->
    </div>
                <!--------------------------------------------------Séptima-------------------------------------------------->
      <h1 id="estilos">TATUAJES</h1>
    <div id="tatuajes"class="row">
        <div align="center"id="tarjetitas"class="col s12 m12 l2">
              <div class="card">
                      <div class="face front">
                      <img src="assets/Tatuaje-1.jpg" alt="...">
                      </div>
                  <div class="face back">
                      <h3>@YIPPO</h3>
                      <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                      <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
                  </div>
              </div>
          </div><!--Primera-->
          <div align="center"id="tarjetitas"class="col s12 m12 l2">
              <div class="card">
                  <div class="face front">
                  <img src="assets/Tatuaje-2.jpg" alt="...">
                  </div>
              <div class="face back">
                  <h3>@YIPPO</h3>
                  <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                  <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
              </div>
          </div>
          </div><!--Segunda-->
          <div align="center"id="tarjetitas"class="col s12 m12 l2">
              <div class="card">
                  <div class="face front">
                  <img src="assets/Tatuaje-3.jpg" alt="...">
                  </div>
              <div class="face back">
                  <h3>@YIPPO</h3>
                  <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                  <div class="link"><a href="http://localhost:4200/artista">Ver Artista...</a></div>
              </div>
          </div>
          </div><!--Tercera-->
    </div>
             <!--------------------------------------------------Octavo-------------------------------------------------->
      <h1 id="estilos">CALIGRAFÍA</h1>
    <div id="caligrafía"class="row">
            <div align="center"id="tarjetitas"class="col s12 m12 l2">
              <div class="card">
                      <div class="face front">
                      <img src="assets/Caligrafia-1.jpg" alt="...">
                      </div>
                  <div class="face back">
                      <h3>@YIPPO</h3>
                      <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                      <div class="link"><a href="#">Ver Artista...</a></div>
                  </div>
              </div>
          </div><!--Primera-->
          <div align="center"id="tarjetitas"class="col s12 m12 l2">
              <div class="card">
                  <div class="face front">
                  <img src="assets/Caligrafia-2.jpg" alt="...">
                  </div>
              <div class="face back">
                  <h3>@YIPPO</h3>
                  <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                  <div class="link"><a href="#">Ver Artista...</a></div>
              </div>
          </div>
          </div><!--Segunda-->
          <div align="center"id="tarjetitas"class="col s12 m12 l2">
              <div class="card">
                  <div class="face front">
                  <img src="assets/Caligrafia-3.jpg" alt="...">
                  </div>
              <div class="face back">
                  <h3>@YIPPO</h3>
                  <p>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP insta/Tiktok : @/im_yippo</p>
                  <div class="link"><a href="#">Ver Artista...</a></div>
              </div>
          </div>
          </div><!--Tercera-->


    </div>
</div>

