
<div class="row">
    <div class="col l3 push-l3">
        <!--<app-product *ngFor="let product of productService.products" [data]="product"></app-product>-->
        <app-product></app-product>-
        <app-producto></app-producto>
        <app-producto1></app-producto1>
    </div>
</div>

<div class="row">
    <div class="col l9 push-l3">
        <app-producto2></app-producto2>
        <app-producto3></app-producto3>
        <app-producto4></app-producto4>
    </div>
</div>

<div class="row">
    <div class="col l9 push-l3">
        <app-producto5></app-producto5>
        <app-producto6></app-producto6>
        <app-producto7></app-producto7>
    </div>
</div>