<!DOCTYPE html>
<html lang="es">
   
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    </head>

<body>
<div class="slider">
    <ul>
        <li>
            <img src="assets/foto-1.png">
        </li>
        <li>
            <img src="assets/foto-2.png">
        </li>
        <li>
            <img src="assets/foto-3.png">
        </li>
        <li>
            <img src="assets/foto-4.png">
        </li>
    </ul>


    
</div>

<div id="artist"class="row">
    <div align="center"class="col s12 m12 l2">
        <img class="icono" src="assets/icon.png"> 
    </div><!--Primera-->
    <div id="uwu"class="col s12 m12 l2">
        <h1>YIPPO</h1>
        <br>
         <h3>I like to draw, sometimes. OC | Streamers | Anime & Games | KPOP
         insta/Tiktok : @/im_yippo</h3>
        <a href="http://localhost:4200/estilos/#tradicional"><img class="Theme"src="assets/Theme-1.png"></a><a href="http://localhost:4200/estilos/#digital"><img class="Theme"src="assets/Theme-2.png"></a>
    </div><!--Segunda-->
    <!--Tercera-->
</div>

<div class="galeria">

    <div class="contenedor-imagenes">
      <div class="imagen">
          <img src="assets/1.jpg" alt="">
          <div class="overlay">
            <h2>Agregar al Carrito</h2>
          </div>
      </div>
        <div class="imagen">
            <img src="assets/2.jpg" alt="">
            <div class="overlay">
              <h2>Agregar al Carrito</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/3.jpg" alt="">
            <div class="overlay">
              <h2>Agregar al Carrito</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/4.jpg" alt="">
            <div class="overlay">
              <h2>Agregar al Carrito</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/5.jpg" alt="">
            <div class="overlay">
              <h2>Agregar al Carrito</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/6.jpg" alt="">
            <div class="overlay">
              <h2>Agregar al Carrito</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/7.jpg" alt="">
            <div class="overlay">
              <h2>Agregar al Carrito</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/8.jpg" alt="">
            <div class="overlay">
              <h2>Agregar al Carrito</h2>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/9.jpg" alt="">
            <div class="overlay">
              <h2>Agregar al Carrito</h2>
            </div>
        </div>
      </div>
</div>

</body>
</html>