.btn {
    background-color: #3D5BCA;
    border-radius: 25px;
    font-family: 'Saira';
}

.card-title{
    color:#3D5BCA;
    font-family: 'Saira';
}
.cat{
    color:#93a3df;
    font-family: 'Saira';
}
.qty{
    color:#dce3ff;
}